<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.young.pdfreader">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PDFReader"
        tools:ignore="AllowBackup">
        <activity
            android:name=".other.RequestActivity"
            android:exported="true" />
        <activity
            android:name=".other.DownloadActivity"
            android:exported="true" />
        <activity
            android:name=".other.UploadActivity"
            android:exported="true" />
        <activity
            android:name=".other.OtherActivity"
            android:exported="true" />
        <activity
            android:name=".layout.CardLayoutActivity"
            android:exported="true" />
        <activity
            android:name=".layout.ConstraintLayoutActivity"
            android:exported="true" />
        <activity
            android:name=".layout.LayoutActivity"
            android:exported="true" />
        <activity
            android:name=".layout.ScaffoldLayoutActivity"
            android:exported="true" />
        <activity
            android:name=".layout.ScrollableTabLayoutActivity"
            android:exported="true" />
        <activity
            android:name=".animation.AnimationActivity"
            android:exported="true" />
        <activity
            android:name=".gesture.GestureActivity"
            android:exported="true" />
        <activity
            android:name=".list.ListItemComponentActivity"
            android:exported="true" />
        <activity
            android:name=".dialog.DialogAndSnackbarActivity"
            android:exported="true" />
        <activity
            android:name=".button.ButtonComponentActivity"
            android:exported="true" />
        <activity
            android:name=".image.ImagesComponentActivity"
            android:exported="true" />
        <activity
            android:name=".text.TextComponentActivity"
            android:exported="true" />
        <activity
            android:name=".toolbar.ToolbarComponentActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.PDFReader.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>