<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:name=".common.PdfReaderApplication"
        android:allowBackup="true"
        android:appCategory="productivity"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PDFReader"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup">
        <activity
            android:name=".coreui.opencv.OpenCVActivity"
            android:exported="false" />
        <activity
            android:name=".coreui.webview.WebViewActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".coreui.migrate.MigrateActivity"
            android:exported="false" />
        <activity
            android:name=".coreui.layout.TabActivity"
            android:exported="false" />
        <activity
            android:name=".coreui.other.TranslucentActivity"
            android:exported="true"
            android:theme="@style/TransparentTheme"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".coreui.other.RequestActivity"
            android:exported="true"
            android:hardwareAccelerated="false" />
        <activity
            android:name=".coreui.other.DownloadActivity"
            android:exported="true" />
        <activity
            android:name=".coreui.other.UploadActivity"
            android:exported="true" />
        <activity
            android:name=".coreui.other.OtherActivity"
            android:exported="true" />
        <activity
            android:name=".coreui.layout.CardLayoutActivity"
            android:exported="true" />
        <activity
            android:name=".coreui.layout.ConstraintLayoutActivity"
            android:exported="true" />
        <activity
            android:name=".coreui.layout.LayoutActivity"
            android:exported="true" />
        <activity
            android:name=".coreui.layout.ScaffoldLayoutActivity"
            android:exported="true" />
        <activity
            android:name=".coreui.layout.ScrollableTabLayoutActivity"
            android:exported="true" />
        <activity
            android:name=".coreui.animation.AnimationActivity"
            android:exported="true" />
        <activity
            android:name=".coreui.gesture.GestureActivity"
            android:exported="true" />
        <activity
            android:name=".coreui.list.ListItemComponentActivity"
            android:exported="true" />
        <activity
            android:name=".coreui.dialog.DialogAndSnackbarActivity"
            android:exported="true" />
        <activity
            android:name=".coreui.button.ButtonComponentActivity"
            android:exported="true" />
        <activity
            android:name=".coreui.image.ImagesComponentActivity"
            android:exported="true" />
        <activity
            android:name=".coreui.text.TextComponentActivity"
            android:exported="true" />
        <activity
            android:name=".coreui.toolbar.ToolbarComponentActivity"
            android:exported="true" />
        <activity
            android:name=".coreui.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.PDFReader.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>